body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* box-sizing: border-box; */
}

/* @media screen and (max-width<250px) {
  #root{
    width: 100%;
  }
} */

/* @media screen and (max-width:300px) {
  #root{
    width: 100%;
  }
} */



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.spins{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(100vw - 50vw);
  top: calc(100vh - 50vh);;
}