.service-header-div {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

.service-body-div {
    width: 100%;
    padding: 2rem;
    /* margin: 0 2rem; */
    /* text-align: center; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* text-align: center; */
}

.service-card-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 10px;
}

@media screen and (max-width:300px) {
    .service-card-div{
        width: 100%;
    }
}

.card-image{
    /* #ef5959 #2f5f93 */
    background-color: #ef5959;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card-image:hover{
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.2s;
}

.fontawe{
    color: #ffffff;
}

.card-image:hover .fontawe{
    color:#ef5959;
}